<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.inDocument">
    <insert id="add" parameterType="pojo.document" >
	        insert into document  values (#{id},#{documentname},#{teacherid},#{link},#{introduce},#{time})
	    </insert>

    <delete id="delete" parameterType="pojo.document" >
	        delete from document where id= #{id}
	    </delete>

    <select id="get" parameterType="String" resultType="pojo.document">
	        select * from   document  where id= #{id}
	    </select>

    <update id="update" parameterType="pojo.document" >
	        update lesson set name=#{documentname} where id=#{id}
	    </update>
    <select id="list" resultType="pojo.document">
	        select * from  document
	    </select>
</mapper>

