<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.lessonMapper">
    <insert id="add" parameterType="pojo.lesson" >
	        insert into lesson  values (#{id},#{teacherid},#{videolink},#{title},#{introduce})
	    </insert>

    <delete id="delete" parameterType="pojo.lesson" >
	        delete from lesson where id= #{id}
	    </delete>

    <select id="get" parameterType="String" resultType="pojo.lesson">
	        select * from   lesson  where id= #{id}
	    </select>

    <update id="update" parameterType="pojo.lesson" >
	        update lesson set name=#{name} where id=#{id}
	    </update>
    <select id="list" resultType="pojo.lesson">
	        select * from  lesson
	    </select>
	<select id="getlessonid" parameterType="String" resultType="pojo.lesson">
	        select * from  lesson where teacherid=#{teacherid}
	    </select>

	<select id="getlessonnumber" parameterType="String" resultType="int">
	        select count(*) from  lesson where teacherid=#{teacherid}
	    </select>
</mapper>

