<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.studentinclassDao">
	<insert id="add" parameterType="pojo.studentinclass" >
	        insert into studentinclass  values (#{classid},#{studentid},#{classname})
	    </insert><delete id="delete" parameterType="pojo.studentinclass" >
	        delete from studentinclass where 
	    </delete>  <select id="get" parameterType="String" resultType="pojo.studentinclass">
	        select * from   studentinclass  where  studentid=#{studentid}
	    </select>  <select id="list" resultType="pojo.studentinclass">
	        select * from  studentinclass
	    </select>
</mapper>
